body {
  text-align: center;
  font-family: Arial;
  margin-top: 50px;
  background: #111;
  color: white;
}
.btn {
  background: #ff9800;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
  border-radius: 5px;
}
                                                                                                                                                                                                                                                                                                                                                                                                                